#myface {
    background-image: url(../images/avatar_drink.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    border: 4px solid;
    border-color: #ffffff;
    border-radius: 18%;
    width: 170px;
    height: 170px;
    margin-top: auto;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 16px;
    vertical-align: middle;
}

/**
* Icons
*/

.icon svg {
    display: inline-block;
    width: 38px;
    height: 38px;
    vertical-align: middle;
}

.icon path{
    fill: #ffffff;
}

/**
*  Lists
*/

.social-media-list {
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 1.5;
    -webkit-padding-start: 0px;
}


.social-media-list li{
    display:inline;
}

.social-media-list a:hover{
    text-decoration: none;
}


.media-line {
    height: 50px;
    width: wrap-content;
    text-align: center;
}

/**
*  Sidebar position
*/

.sidebar-content{
    margin-top: 40px;
}

.sidebar-title {
    font-size: 2.5rem;
}